@use '../utils/api';

ion-popover.ios:not(.ios-theme-disabled, .ios26-disabled) {
  @include api.glass-overlay-variables;
  --backdrop-opacity: 0;

  &::part(arrow) {
    display: none;
  }

  &::part(content) {
    @include api.glass-overlay-surface;
    border-radius: 36px;
    padding: 0;
  }

  ion-select-popover {
    ion-list {
      background: transparent;
      ion-item {
        --background: transparent;
        &:last-of-type {
          --border-width: 0px;
          --show-full-highlight: 0;
          --inner-border-width: 0px;
          --show-inset-highlight: 0;
        }
      }
    }
  }
}
