@use './utils/structured-list';

ion-list.md {
  @include structured-list.support-text;

  &.list-inset {
    @include structured-list.layout(8px, 16px, $variant: ios27);
    :is(#{structured-list.$groups}) ion-item {
      & > ion-input[labelplacement='floating'] {
        transition: transform 200ms ease;

        &:not(.label-floating) {
          transform: translateY(-7px);
        }

        &.label-floating {
          transform: translateY(-4px);
        }
      }
    }
  }
}
