@use '../api';
@use '../glass';

@mixin theme-dark-buttons {
  &:has(> ion-button.button-clear:only-child:not(.button-small, .button-large, .ios-theme-disabled, .ios26-disabled)) {
    @include glass.dark-fill;
    box-shadow: none;
    &::before {
      @include glass.dark-rim;
    }
  }
  &:has(.ion-activated) {
    @include api.glass-background-button-activated-dark;
  }

  ion-button:not(.ios-theme-disabled, .ios26-disabled).button-clear {
    &.ion-activated {
      color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
      &.ion-color {
        color: rgb(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)));
      }
    }
  }

  ion-button:not(.ios-theme-disabled, .ios26-disabled),
  ion-back-button:not(.ios-theme-disabled, .ios26-disabled) {
    &.ion-activated {
      --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);

      &.ion-color {
        --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 1);
      }
    }
  }
}

@mixin theme-dark-button($is-back-button: false) {
  &:not(.button-solid):not(.button-outline):not(.button-clear) {
    @include glass.dark-fill(--background);
    --box-shadow: none;
    @if not $is-back-button {
      --border-color: rgba(var(--ios-theme-glass-border-color-rgb, var(--ios26-glass-border-color-rgb)), 0.58) transparent;
      @supports (background-clip: border-area) {
        --border-color: transparent;
      }
    }
    &::part(native) {
      @include glass.dark-rim($include-border: $is-back-button);
      @if $is-back-button {
        box-shadow: none;
      }
    }
  }
  &.ion-activated:not(.button-solid):not(.button-outline):not(.button-clear) {
    --background: rgba(var(--ios-theme-button-color-selected-rgb, var(--ios26-button-color-selected-rgb)), 0.56);
    --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);
    @if not $is-back-button {
      --box-shadow: inset 0 0 16px 0 rgba(var(--ios-theme-glass-box-shadow-color-rgb, var(--ios26-glass-box-shadow-color-rgb)), 0.55);
      --border-width: 0.8px;
      --border-color: rgba(var(--ios-theme-button-color-selected-rgb, var(--ios26-button-color-selected-rgb)), 0.8)
        rgba(var(--ios-theme-button-color-selected-rgb, var(--ios26-button-color-selected-rgb)), 0.4)
        rgba(var(--ios-theme-button-color-selected-rgb, var(--ios26-button-color-selected-rgb)), 0.8)
        rgba(var(--ios-theme-button-color-selected-rgb, var(--ios26-button-color-selected-rgb)), 0.6);
    }
    &.ion-color {
      --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 1);
    }
    &::part(native) {
      @include api.glass-background-button-activated-dark(
        $include-background: false,
        $include-box-shadow: $is-back-button,
        $include-border: $is-back-button
      );
    }
    ion-icon {
      color: rgb(255, 255, 255);
    }
  }
}

@mixin ion-button {
  ion-buttons.ios:not(.ios-theme-disabled, .ios26-disabled):not(
      :has(ion-back-button, ion-button:not(.button-clear), > ion-button.button-clear:nth-of-type(2))
    ) {
    @include theme-dark-buttons;
  }
  ion-toolbar.ios ion-buttons.ios:has(> ion-button.button-clear:nth-of-type(2)):not(:has(ion-back-button)) {
    > ion-button.button-clear::part(native) {
      @include glass.dark-fill;
      @include glass.dark-rim;
      box-shadow: none;
    }
    > ion-button.button-clear.ion-activated {
      color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
      --color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
      &::part(native) {
        @include api.glass-background-button-activated-dark;
        color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
      }
    }
  }
  ion-button:not(.ios-theme-disabled, .ios26-disabled) {
    @include theme-dark-button;
  }
  ion-back-button:not(.ios-theme-disabled, .ios26-disabled) {
    @include theme-dark-button($is-back-button: true);
  }
}
