@use '../api';

@mixin ion-tabs {
  ion-tab-bar.ios:not(.ios-theme-disabled, .ios26-disabled) {
    --_ios26-tab-selected-opacity: 0.145;
    &::before {
      @include api.glass-background($opacity: 0.3, $blur: 20px, $saturate: 180%);
      border-color: rgba(var(--ios-theme-glass-border-color-rgb, var(--ios26-glass-border-color-rgb)), 0.6);
      box-shadow: none;
    }
  }
  ion-tab-button.ios:not(.ios-theme-disabled, .ios26-disabled) {
    &.ion-activated {
      ion-label,
      ion-icon {
        filter: brightness(118%);
        opacity: 0.95;
      }
    }
    &.ion-cloned-element {
      &::part(native) {
        --ios26-glass-border-color-rgb: 120, 120, 120;
        --ios-theme-glass-border-color-rgb: var(--ios26-glass-border-color-rgb);
        box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.2);
      }
    }
  }
}
