@forward 'dark/ion-button';
@use 'dark/ion-button' as *;
@forward 'dark/ion-fab';
@use 'dark/ion-fab' as *;
@forward 'dark/ion-tabs';
@use 'dark/ion-tabs' as *;
@forward 'dark/ion-segment';
@use 'dark/ion-segment' as *;
@forward 'dark/ion-list';
@use 'dark/ion-list' as *;

@mixin default-variables {
  --ios27-color-scheme: dark;
  --ios-theme-destructive-color: #ff686b;
  --ios-theme-menu-background-rgb: 26, 31, 34;
  //--ios26-glass-background-rgb: 35, 35, 35;
  --ios26-glass-background-rgb: 62, 62, 62;
  --ios26-glass-box-shadow-color-rgb: 0, 0, 0 / 0;
  --ios26-glass-border-color-rgb: 68, 68, 68;
  --ios27-button-color-selected-default-rgb: 255, 255, 255;

  --ios26-content-box-shadow-rgb: 0, 0, 0;
}

@mixin theme-dark {
  @include ion-list;

  ion-alert.ios:not(.ios-theme-disabled, .ios26-disabled),
  ion-action-sheet.ios:not(.ios-theme-disabled, .ios26-disabled),
  ion-toast.ios:not(.ios-theme-disabled, .ios26-disabled) {
    --background: rgba(var(--ios-theme-glass-background-rgb, var(--ios26-glass-background-rgb)), 0.52);
  }

  ion-popover.ios:not(.ios-theme-disabled, .ios26-disabled) {
    --background: rgba(var(--ios-theme-glass-background-rgb, var(--ios26-glass-background-rgb)), 0.08);

    &:not(.ios-theme-callout)::part(content),
    &::part(callout-glass),
    &::part(arrow)::after {
      backdrop-filter: blur(12px) saturate(115%) brightness(0.9);
      -webkit-backdrop-filter: blur(12px) saturate(115%) brightness(0.9);
    }
  }

  @include ion-button;
  @include ion-fab;
  @include ion-tabs;
  @include ion-segment;
}
