@use 'api';

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent,
ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled).footer-translucent {
  .header-background,
  .footer-background {
    backdrop-filter: none;
  }

  ion-toolbar {
    --border-width: 0;
    --background: transparent;
    --opacity: 1;
    &::part(background) {
      --opacity: 0;
    }
    ion-title {
      transform: translateY(0);
    }
  }
}

.ion-page:has(> ion-content.ios.content-fullscreen) > ion-header.ios:not(.ios-theme-disabled, .ios26-disabled):not(.header-translucent),
.ion-page:has(> ion-content.ios.content-fullscreen) > ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled):not(.footer-translucent) {
  ion-toolbar.ios:not(.ios-theme-disabled, .ios26-disabled) {
    --background: transparent;
    --opacity: 1;

    &::part(background) {
      --opacity: 0;
    }
  }
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent:not(.header-collapse-condense) {
  &:has(> ion-toolbar.ios:not(.ios-theme-disabled, .ios26-disabled) > *)::before {
    height: 100%;
    background: rgba(
      var(--ion-color-base-rgb, var(--ios-theme-content-box-shadow-rgb, var(--ios26-content-box-shadow-rgb))),
      calc(0.2 * var(--opacity-scale, 1))
    );
    backdrop-filter: blur(8px);
  }

  &:not(.ion-no-border) > ion-toolbar.ios:not(.ios-theme-disabled, .ios26-disabled):has(> *):last-of-type {
    --border-width: 0 0 0.5px;
    --border-color: var(--ion-toolbar-border-color, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08));
    &::part(background) {
      --opacity: 1;
      background: transparent;
    }
  }
}

.ion-page:has(> ion-content.ios.content-fullscreen) > ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled).footer-translucent {
  &:has(> ion-toolbar.ios:not(.ios-theme-disabled, .ios26-disabled) > *)::before {
    bottom: 0;
    height: 100%;
    background: rgba(
      var(--ion-color-base-rgb, var(--ios-theme-content-box-shadow-rgb, var(--ios26-content-box-shadow-rgb))),
      calc(0.2 * var(--opacity-scale, 1))
    );
    backdrop-filter: blur(8px);
  }

  &:not(.ion-no-border) > ion-toolbar.ios:not(.ios-theme-disabled, .ios26-disabled):has(> *):first-of-type {
    --border-width: 0.5px 0 0;
    --border-color: var(--ion-toolbar-border-color, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08));
    &::part(background) {
      --opacity: 1;
      background: transparent;
    }
  }
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-collapse-main ion-toolbar.in-toolbar ion-title {
  transition:
    opacity 0.5s ease-in-out,
    color 0.5s ease-in-out,
    text-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-collapse-condense-inactive:not(.header-collapse-condense)
  ion-toolbar.in-toolbar
  ion-title {
  color: transparent;
  text-shadow: 0 0 1px var(--ion-color-base, var(--ion-toolbar-color, var(--ion-text-color, #000)));
  transform: translateY(8px);
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent::before,
ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent::after,
.ion-page:has(> ion-content.ios.content-fullscreen) > ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled).footer-translucent::before,
.ion-page:has(> ion-content.ios.content-fullscreen) > ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled).footer-translucent::after,
ion-content.ios:not(.ios-theme-disabled, .ios26-disabled).content-fullscreen::part(background)::before {
  content: '';
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent::before {
  /**
   * With safe-area effect, this is need.
   */
  z-index: 2;
  top: 0;
  height: var(--ion-safe-area-top);
}

ion-header.ios:not(.ios-theme-disabled, .ios26-disabled).header-translucent::after {
  z-index: 2;
  top: 0;
  height: 100%;
  backdrop-filter: blur(2px);
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  mask-composite: intersect;
}

.ion-page:has(> ion-content.ios.content-fullscreen) > ion-footer.ios:not(.ios-theme-disabled, .ios26-disabled).footer-translucent::after {
  z-index: 2;
  bottom: 0;
  height: 100%;
  backdrop-filter: blur(2px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
  mask-composite: intersect;
}

/**
 * ここから下は、ion-content::beforeが content:'' を持たない限り表示されない
 */
.ion-page:has(> ion-header.header-translucent) > ion-content.content-fullscreen::part(background)::before {
  z-index: 2;
  top: 0;
  height: var(--offset-top, 0px);
  background: linear-gradient(
    in oklab,
    rgba(var(--ios-theme-content-box-shadow-rgb, var(--ios26-content-box-shadow-rgb)), 0.5) 0%,
    rgba(var(--ios-theme-content-box-shadow-rgb, var(--ios26-content-box-shadow-rgb)), 0.2) 50%,
    rgba(var(--ios-theme-content-box-shadow-rgb, var(--ios26-content-box-shadow-rgb)), 0) 100%
  );
}
