<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Index</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://github.com/rdlabo-dev/ionic-theme-ios27"
        ><ion-icon name="logo-github" slot="icon-only" aria-label="GitHub"></ion-icon
      ></ion-button>
      <ion-button href="https://ionicframework.com/"
        ><ion-icon name="logo-ionic" slot="icon-only" aria-label="Ionic"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Index</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-list-header><ion-label>Settings</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-toggle [checked]="verticalBarsModeEnabled" (ionChange)="changeVerticalBarsMode($event)">iPhone Duo Mode</ion-toggle>
      </ion-item>
      <ion-item><ion-toggle (ionChange)="changeColorMode($event)">Dark Mode</ion-toggle></ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Components</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item [button]="true" (click)="navigateNativeUiShell()">
        <ion-label>native-ui-shell (Experimental)</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      @for (item of enableComponents(); track item.name) {
        <ion-item [button]="true" (click)="navigateComponent(item)">
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
      }
    </ion-item-group>
  </ion-list>
</ion-content>
